MYSQL_USER_PRODUCTION="your_production_user"
MYSQL_PASS_PRODUCTION="your_production_password"
MYSQL_HOST_PRODUCTION="your_production_host"
MYSQL_DBNAME_PRODUCTION=your_production_dbname

MYSQL_USER=your_local_user
MYSQL_PASS=your_local_password
MYSQL_DBNAME=your_local_dbname
MYSQL_HOST=127.0.0.1
