[submodule ".opencode/plugins/memory"]
	path = .opencode/plugins/memory
	url = https://github.com/dimaslanjaka/opencode-file-memory.git
	branch = main
[submodule "packages/openai-local"]
	path = packages/openai-local
	url = https://github.com/dimaslanjaka/openai-local.git
	branch = main
